.CasestudyFeaturesSlide {
  width: 100%;
  height: fit-content;
  padding: 0 8.125vw;
  padding-bottom: 205px;
  .componentContainer {
    display: flex;
    flex-direction: column;
    row-gap: 157px;
    padding-top: 105px;
    // padding-bottom: 289px;
  }
  @media (max-width: 850px) {
    padding: 0 32px;
    padding-bottom: 80px;
    .componentContainer {
      row-gap: 60px;
      padding-top: 20px;
      // padding-bottom: 80px;
    }
  }
}
