.CasestudyTitle {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  .circle {
    width: 18px;
    height: 18px;
    background: #adf7b6;
    border-radius: 50%;
    margin-right: 16px;
  }
  .text {
    font-weight: 600;
    font-size: clamp(20px, 1.67vw, 24px);
    line-height: 30px;
    // text-wrap: nowrap;
    // white-space: nowrap;
  }
}
