html,
body {
  /* cursor: none; */
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
    Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #000;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

@media (max-width: 950px) {
  .Scroller {
    height: auto !important;
    position: static !important;
  }
}
/* 
.scroll-content,
.scrollbar-thumb-y {
  will-change: transform;
} */

/* social icons page */
.socialIconsPage {
  height: 256px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 13.86vh;
  right: 8.33%;
  z-index: 20;
  transition: transform 0.3s ease;
}
@media (max-width: 650px) {
  .socialIconsPage {
    display: none;
  }
}

.PPolicy > p {
  margin-bottom: 10px !important;
}

.PPolicy > h1,
.PPolicy > h2 {
  margin-bottom: 20px !important;
  margin-top: 40px !important;
}

.embed_documentation_footer--documentationFooter--pnTqy {
  display: none;
}

.spline-watermark {
  display: none !important;
}
