.SingleCasestudy {
  width: 100%;
  height: fit-content;
  background: #000;
  color: #fff;
  padding-top: 60px;

  .formContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 750px;
    height: calc(100vh - 160px);
    padding-bottom: 160px;
    margin: 0 auto;
    .title {
      width: fit-content;
      font-weight: 600;
      font-size: 32px;
      line-height: 40px;
      letter-spacing: 0.02em;
      text-align: center;
      background: linear-gradient(94.37deg, #01bde6 7.7%, #b058ff 56.88%, #ff54bb 83.85%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }
    .inputContainer {
      width: 300px;
      height: 50px;
      margin-top: 19px;
      // margin-bottom: 15px;
      .input {
        width: 100%;
        height: 30px;
        font-family: 'Montserrat';
        outline: none;
        border: none;
        background-color: #f2f2f2;
        overflow: hidden;
        padding: 10px 9px;
        font-weight: 500;
        font-size: 18px;
        line-height: 31.2px;
        color: #171717;
      }
      .error {
        color: #cc0000;
        font-size: 18px;
        margin-top: 5px;
      }
    }
    .button {
      cursor: pointer;
      border: none;
      display: flex;
      align-items: center;
      width: fit-content;
      height: 34px;
      color: #1b1b1b;
      background: #ffffff;
      padding: 8px 16px;
      border-radius: 100px;
      font-size: 16px;
      font-weight: 500;
      line-height: 18px;
      text-transform: capitalize;
      margin-top: 15px;
    }
    @media (max-width: 768px) {
      width: 100%;
      padding: 0 20px;
      .title {
        font-size: 24px;
        line-height: 32px;
      }
      .inputContainer {
        max-width: 400px;
        width: 100%;
        .input {
          font-size: 16px;
          line-height: 24px;
        }
        .error {
          font-size: 16px;
        }
      }
      .button {
        font-size: 14px;
        line-height: 16px;
      }
    }
  }

  @media (max-width: 768px) {
    padding-top: 40px;
  }
}
